on init
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind
    mount none /system/lib64/hw/power.qcom.so /vendor/lib64/hw/power.qcom.so bind
    mount none /system/lib/modules/wlan.ko /vendor/lib/modules/qca_cld3_wlan.ko bind
    mount none /system/etc/audio_policy_volumes_ZS630KL.xml /vendor/etc/audio_policy_volumes_ZS630KL.xml bind

on boot
    # Gestures
    chown system system /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/dclick_mode

    # Google Key
    write /sys/devices/platform/soc/soc:asustek_googlekey/googlekey_enable 1
